{% extends 'login/base.html' %}

{% block content %}
<div class="row">
      <div class="col-sm-4">
            <h2 class="text-center"></h2>
            <form action="" method="POST">

                  {% csrf_token %}
                  {{form.as_p}}
                  
                  <input type="submit" class="btn btn-success " value="Register"></input>
            </form>

      </div>
      <div class="com-sm-8">
            <h2 class="text-center">show Data</h2>

            {% if stu %}
            <table class="table table-hover">
                  <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Name</th>
                          <th scope="col">Email</th>
                          <th scope="col">Password</th>
                          <th scope="col">Gender</th>
                          <th scope="col">Hobby</th>

                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for s in stu %}
                              <tr>
                              <th scope="row">{{s.id}}</th>
                              <td scope="col">{{s.name}}</td>
                              <td scope="col">{{s.email}}</td>
                              <td scope="col">{{s.password}}</td>
                              <td scope="col">{{s.gender}}</td>
                              <td scope="col">{{s.hobby}}</td>
                              <td>

                                    <form  action="{% url 'deletedata' s.id %}" method="post" class="d-inline">
                                          {% csrf_token %} 
                                          <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                                    </form>
                              </td>



                            
                              </tr>
                       {% endfor %}
                      </tbody>
                        
            </table>
      {% else %}      
            <h4 class="text-center">Record Not Found </h4>
      {% endif %}

      </div>
</div>
      
      
{% endblock content %}